# Satellite data files
# *.nc
# *.png
# *.tif
# *.tiff

src/result/
typhoon/

debug_out/

typhoon_result/

cloud_segment_1/
cloud_segment_2/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


CLAUDE.md